[Desktop Entry]
Version=1.0
Name=digiwage Core
Comment=digiwage P2P Cryptocurrency
Exec=digiwage-qt %u
Terminal=false
Type=Application
Icon=digiwage128
MimeType=x-scheme-handler/digiwage;
Categories=Office;Finance;
StartupWMClass=digiwage-qt
Name[en_US]=digiwage-qt.desktop
