[submodule "digiwage-detached-sigs"]
	path = digiwage-detached-sigs
	url = https://github.com/digiwage/digiwage-detached-sigs.git
[submodule "src/evmone"]
	path = src/evmone
	url = https://github.com/digiwage/evmone
