
## <summary>policy for digiwage</summary>


########################################
## <summary>
##	Transition to digiwage.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`digiwage_domtrans',`
	gen_require(`
		type digiwage_t, digiwage_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, digiwage_exec_t, digiwage_t)
')


########################################
## <summary>
##	Execute digiwage server in the digiwage domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digiwage_initrc_domtrans',`
	gen_require(`
		type digiwage_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, digiwage_initrc_exec_t)
')


########################################
## <summary>
##	Search digiwage lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digiwage_search_lib',`
	gen_require(`
		type digiwage_var_lib_t;
	')

	allow $1 digiwage_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read digiwage lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digiwage_read_lib_files',`
	gen_require(`
		type digiwage_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, digiwage_var_lib_t, digiwage_var_lib_t)
')

########################################
## <summary>
##	Manage digiwage lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digiwage_manage_lib_files',`
	gen_require(`
		type digiwage_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, digiwage_var_lib_t, digiwage_var_lib_t)
')

########################################
## <summary>
##	Manage digiwage lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digiwage_manage_lib_dirs',`
	gen_require(`
		type digiwage_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, digiwage_var_lib_t, digiwage_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a digiwage environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`digiwage_admin',`
	gen_require(`
		type digiwage_t;
		type digiwage_initrc_exec_t;
		type digiwage_var_lib_t;
	')

	allow $1 digiwage_t:process { ptrace signal_perms };
	ps_process_pattern($1, digiwage_t)

	digiwage_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 digiwage_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, digiwage_var_lib_t)

')

