# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.digiwage
host=127.0.0.1

#mainnet default
port=46002

#testnet default
#port=46102

#regtest default
#port=23889

#signet default
#port=33889

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=c1f4a7d6
genesis=000009f854e700ab62642c7d3e94be65a1d8c112384f5edfb4b2b3fa3fecaef6
input=/home/example/.digiwage/blocks

# testnet
#netmagic=b4d97ee2
#genesis=00000fe47393963de56853012882fd1d260656affca9ccad8f79389bf882d462
#input=/home/example/.digiwage/testnet/blocks

# regtest
#netmagic=fdddc6e1
#genesis=665ed5b402ac0b44efc37d8926332994363e8a7278b7ee9a58fb972efadae943
#input=/home/example/.digiwage/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00000008819873e925422c1ff0f99f7cc9bbb232af63a077a480a3633bee1ef6
#input=/home/example/.bitcoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
