[Unit]
Description=Digiwage's distributed currency daemon
After=network.target

[Service]
User=digiwage
Group=digiwage

Type=forking
PIDFile=/var/lib/digiwaged/digiwaged.pid

ExecStart=/usr/bin/digiwaged -daemon -pid=/var/lib/digiwaged/digiwaged.pid \
          -conf=/etc/digiwage/digiwage.conf -datadir=/var/lib/digiwaged

ExecStop=-/usr/bin/digiwage-cli -conf=/etc/digiwage/digiwage.conf \
         -datadir=/var/lib/digiwaged stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
